html {
    overflow: auto;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: darkgrey;
}

/* book tracker */

.book {
    padding: 0;
    margin: 25px;
    background-color: black;
    opacity: 50%;
    width: 10rem;
    height: 10rem;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#book-table{
    border: 1px solid black;
    width:40%;
    text-align: center;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
}

.book-section {
    border: 5px groove black;
}

#new-book-box {
    font-size: 2em;
}

.book:hover {
    opacity: 75%;
    cursor: pointer;
}

#book-report-div {
    display: flex;
}

#new-book-modal {
    z-index: 1;
    background-color: white;
    display: none;
    width: 40%;
    height: 40%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

#new-book-form {
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.5rem;
}

input {
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

#files {
    text-align: center;
}

.modal-btn {
    background-color: #494949;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.modal-btn:hover {
    opacity: 75%;
    cursor: pointer;
}

#book-detail-list {
    width: 100%;
    height: 100%;
    padding: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#book-pacing {
    position: fixed;
}

/* Habit Tracker */

#habit-tracker-body {
    display: flex;
    flex-direction: column;
}

#habit-tracker-button-div {
    border-top: solid black;
    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

#habit-tracker-button {
    background-color: black;
    opacity: 50%;
    padding: 1rem;
    border-radius: .5rem;
    color: white;
}

#habit-tracker-button:hover {
    opacity: 75%;
    cursor: pointer;
}

#habit-tracker-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.habit-box {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(7, 25px); /* Creates 7 columns */
    grid-gap: 2px; /* Space between squares */
    justify-content: center; /* Center grid horizontally */
    width: 100%;
    padding: 1em;
}

#days {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(7, 25px); /* Creates 7 columns */
    grid-gap: 2px; /* Space between squares */
    justify-content: center; /* Center grid horizontally */
    margin: 1em;
    font-size: .75em;
}

#habit-top-div {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1px black;
    border-radius: 2em;
}

#habit-inner-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    flex-direction: column;
}

#habit-creation-modal {
    z-index: 1;
    background-color: white;
    display: none;
    width: 40%;
    height: 40%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
}

#habit-tracker-new-habit-button {
    font-size: 1.5em;
    border: solid 2px black;
    padding: 0.3rem;
    margin: 0.7rem;
    border-radius: 10px;
}

#habit-tracker-new-habit-button:hover {
    cursor: pointer;
    background-color: rgb(144, 144, 144);
}

#habit-creation-modal-metric {
    display: none;
}

#habit-numeric-day-amount-div {
    z-index: 1;
    background-color: white;
    display: none;
    width: 40%;
    height: 40%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
}

.habit-day {
    width: 13px;
    height: 13px;
    border: solid 1px transparent;
    background-color: #565656;
    margin: 1px;
}

.habit-day:hover {
    border-color: white;
    cursor: pointer;
}

.current-day {
    width: 13px;
    height: 13px;
    border: solid 1px white;
    background-color: #565656;
    margin: 1px;
}

.empty {
    background-color: transparent; /* or any color that indicates absence */
    border: none; /* Hide border if not needed */
}

.current-day:hover {
    border-color: white;
    cursor: pointer;
}