<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Detail</title>
    <link rel= "stylesheet" type= "text/css" href= "/static/styles/style.css">
</head>
<body>
    <div id="book-detail-list">
        <table id="book-table">
            <thead>
                <tr>
                    <th>Page</th>
                    <th>Chapter</th>
                </tr>
            </thead>
            <tbody>
                {% for page, chapter in book_detail.items() %}
                    <tr>
                        <td>{{ page }}</td>
                        <td contenteditable="true">{{ chapter }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>